// Mobile nav burger Icon

@keyframes openTop {
  0% {
    transform: translateY(-0.4rem) rotate(0deg);
  }
  50% {
    transform: translateY(0rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(90deg);
  }
}
@keyframes closeTop {
  0% {
    transform: translateY(-0.4rem) rotate(0deg);
  }
  50% {
    transform: translateY(0rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes closeMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(0.4rem) rotate(0deg);
  }
  50% {
    transform: translateY(0rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(90deg);
  }
}

@keyframes closeBtm {
  0% {
    transform: translateY(0.4rem) rotate(0deg);
  }
  50% {
    transform: translateY(0rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(90deg);
  }
}

// Mobile digital clock

@keyframes frontFlipDown {
  to {
    transform: rotateX(0.5turn);
  }
}

@keyframes backFlipDown {
  to {
    transform: rotateX(0);
  }
}
