#home-page {
  // padding-top: 3.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: space-between;

  .about-text {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.657),
      inset -1px -1px 5px rgba(255, 255, 255, 0.397);
    padding: 1.5em 1em;
    border-radius: 10px;
    line-height: 1.4em;
    margin: 25em 0 0 0;
    position: relative;

    .about-header {
      display: block;
      position: absolute;
      top: -4em;
      left: 0;

      &:hover .first-header-line::before {
        transform: translateX(0%);
      }
      &:hover .second-header-line::before {
        transform: translateX(0%);
        transition-delay: 0.2s;
      }

      h2 {
        font-size: 1.8em;
        color: $primary-color;
        letter-spacing: 1px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.657),
          -1px -1px 5px rgba(255, 255, 255, 0.397);
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
      }

      .first-header-line {
        position: absolute;
        height: 0.2em;
        width: 100%;
        background-color: rgb(133, 133, 133);
        bottom: 0;
        left: 0;
        bottom: -0.4em;
        border-radius: 10px;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $primary-color;
          transform: translateX(-100%);
          transition: all ease-in-out 0.3s;
          border-radius: 10px;
        }
      }
      .second-header-line {
        position: absolute;
        height: 0.2em;
        width: 50%;
        background-color: rgb(133, 133, 133);
        bottom: 0;
        left: 0;
        bottom: -0.9em;
        border-radius: 10px;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $primary-color;
          transform: translateX(-100%);
          transition: all ease-in-out 0.3s;
          border-radius: 10px;
        }
      }
    }

    p {
      letter-spacing: 1px;
      padding-bottom: 0.5em;
    }
  }

  .typing-animate {
    display: inline-block;
    // border: 1px solid red;
    position: absolute;
    top: 11em;
    // top: 80px;
    // left: 50px;

    .myName {
      white-space: nowrap;
      overflow: hidden;
      animation: myName 2s steps(14, end) forwards, firstBlink 1s 3;
      letter-spacing: 2px;
      font-size: 2em;
      font-weight: 700;
      color: white;
      text-shadow: 1px 1px 1px grey, 1px 2px 2px grey, 1px 3px 2px;
      margin-bottom: 0.4em;

      span {
        color: $primary-color;
        text-shadow: 1px 1px 1px rgb(68, 97, 109), 1px 2px 2px rgb(68, 97, 109),
          1px 3px 2px rgb(68, 97, 109);
      }
    }

    .frontend {
      color: white;
      white-space: nowrap;
      overflow: hidden;
      animation: frontend 3s steps(25, end) forwards 2.7s, blink 1s 9;
      opacity: 0;
      letter-spacing: 2px;
      font-size: 1rem;
      text-shadow: 1px 1px 1px grey, 1px 2px 2px;
      margin-left: 0.2em;

      span {
        color: $primary-color;
        text-shadow: 1px 1px 1px rgb(68, 97, 109), 1px 2px 2px;
      }
    }
  }
}

@keyframes myName {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes frontend {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes firstBlink {
  0%,
  100% {
    border-right: 5px solid transparent;
  }

  50% {
    border-right: 5px solid white;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }

  50% {
    border-right: 2px solid white;
  }
}

@media all and (min-width: 992px) {
  .digital-clock {
    transform: translateX(120%);
    opacity: 0;
    display: none;
  }

  #home-page {
    .typing-animate {
      top: 6em;
      .myName {
        font-size: 5rem;
        text-shadow: 1px 1px 1px grey, 1px 2px 2px grey, 1px 3px 2px grey,
          1px 4px 2px grey, 1px 5px 2px grey;
        margin-bottom: 0.2em;

        span {
          text-shadow: 1px 1px 1px rgb(68, 97, 109),
            1px 2px 2px rgb(68, 97, 109), 1px 3px 2px rgb(68, 97, 109),
            1px 4px 2px rgb(68, 97, 109), 1px 5px 2px rgb(68, 97, 109);
        }
      }

      .frontend {
        font-size: 2.5rem;
        text-shadow: 1px 1px 1px grey, 1px 2px 2px grey, 1px 3px 2px grey;

        span {
          text-shadow: 1px 1px 1px rgb(68, 97, 109),
            1px 2px 2px rgb(68, 97, 109), 1px 3px 2px rgb(68, 97, 109);
        }
      }
    }

    .about-text {
      // position: relative;
      max-width: 1000px;
      padding: 3em;
      margin: 0;
      top: 38em;
      margin-left: 20em;

      .about-header {
        display: block;
        left: -20em;
        top: -9em;
      }

      .my-img-border {
        position: absolute;
        top: -1em;
        left: -20em;
        height: 15em;
        width: 15em;
        border: 4px solid rgb(41, 41, 47);
        border-radius: 50%;
        box-shadow: 0 -8px 8px rgba(255, 255, 255, 0.13),
          inset 0 0 8px rgba(255, 255, 255, 0.13), 0 8px 20px rgba(0, 0, 0, 0.5),
          inset 0 -8px 8px rgba(0, 0, 0, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;

        .my-img-container {
          width: 98%;
          height: 98%;
          // background-color: olive;
          background-image: url(../images/julian.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          border-radius: 50%;

          // img {
          //   border-radius: 50%;

          // }
        }
      }
    }
  }
}
