.nav-bar {
  width: 100%;
  height: 3.8em;
  position: fixed;
  background-color: $nav-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 3.8em;
  z-index: 1000;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s ease-in;

  ul {
    list-style: none;
    padding: 20px 0;
    width: 100%;
  }

  .logo {
    display: none;
  }

  .profile-links {
    display: none;
  }

  .logo img {
    width: 100%;
  }
  nav a svg {
    height: 26px;
    width: 26px;
    fill: rgb(132, 132, 133);
  }

  nav .active svg {
    fill: $primary-color;
  }

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  nav a {
    display: block;
    padding: 10px 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 100;
  }

  nav a::after {
    content: "";
    font-size: 0.65rem;
    letter-spacing: 1px;
    position: absolute;
    left: 0;
    bottom: 15px;
    display: block;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
    color: $primary-color;
  }

  nav a svg {
    opacity: 1;
    transition: all 0.3s ease-out;
  }

  nav a:hover svg {
    opacity: 0;
  }

  nav .icon-home::after {
    content: "HOME";
  }
  // .nav-bar nav .icon-about::after {
  //   content: "ABOUT";
  // }

  nav .icon-skills::after {
    content: "SKILLS";
  }
  nav .icon-work::after {
    content: "MY WORK";
  }
  nav .icon-contact::after {
    content: "CONTACT";
  }
  nav a:hover::after {
    opacity: 1;
  }

  ul li {
    width: 100%;
  }
  ul li .fm {
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul .fm svg {
    height: 20px;
    width: 20px;
    fill: rgb(132, 132, 133);
  }

  ul .fm:hover svg {
    fill: $primary-color;
  }
}

@media all and (min-width: 992px) {
  .mobile-nav {
    transform: translateX(-100%);
    opacity: 0;
  }
  .wrapper {
    display: flex;
    height: 100vh;
    position: relative;

    .nav-bar {
      width: 60px;
      height: 100%;
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      transform: translateX(0%);

      nav {
        width: 100%;
        height: auto;
        opacity: 1;
        flex-direction: column;
      }

      .logo {
        display: block;
      }

      .profile-links {
        display: block;
      }
    }

    .main-content {
      width: 100%;
      height: 100%;
      margin-left: 60px;
    }
  }
}
